body{
	background: #e2e2e2!important;	
}

.bg-primary {
	background: #009688 !important;
}

.banner{
	width:100%;
	height:93vh;
	background:linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)) ,url(../img/banner.jpg);
	background-size:cover;
	color:white;
	
} 

.my-card{
	padding: 20px;
	background: #FFFFFF ;
}


/* Sidebar style */

@media only screen and (max-width: 600px){
	
	.sidebar{
		display: none;
		width: 80% !important;
		background: white;
		height: 100vh;
		position: fixed;
		padding-top: 20px;
	}
	.content{
		margin-left: 0% !important;
	}
}

/* icon animation */
.item i{
	--fa-bounce-start-scale-x: 1;
	--fa-bounce-start-scale-y: 1;
	--fa-bounce-jump-scale-x: 1;
	--fa-bounce-jump-scale-y: 1;
	--fa-bounce-land-scale-x: 1;
	--fa-bounce-land-scale-y: 1;
	--fa-bounce-rebound: 0;
	
}
.item:hover i {
  color: green;
  animation: fa-bounce 1s infinite;
  transition: transform 2s;
  
}

/* icon animation ends */

.sidebar{
	width: 20%;
	background: white;
	height:100%;
	position: fixed;
	padding-top: 45px;
	z-index: 9999999999999999999999999999999999999;
	
}

.sidebar a{
	
	display: block;
	width: 100%;
	padding: 10px 25px;
	text-decoration: none;
	color: grey;
	font-size: 25px;
}

.sidebar a:hover{
	background: #e2e2e2;
} 

.sidebar .divider{
	height: .5px;
	width: 100%;
	background: #e2e2e2;
	margin-top: 10px;
}

.sidebar .crossBtn{
	position: absolute;
	top: 0px;
	right: 30px;
	font-size: 35px;
	cursor: pointer;
	
}

/* content style */

.content{
	margin-left:20%;
}

.fa-bars:hover {
	cursor: pointer;
}

.my_profile_pic{
	
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 50%;
	
}

/* search css */
.search-container{
	position: relative;
}

.search-result{
	position: absolute;
	background: white;
	width:100%;
	padding: 10px;
	border: 1px solid gray;
	display:none;
}

.active{
	background: #009688 !important;
	color: white !important;
}








